body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 1em;
  margin: 2px;
}

p {
  color: #333;
}

form {
  margin: 1em;
}

li:hover {
  cursor:pointer;
}

#button {
  width: 6em;
  margin-bottom: 1em;
}

#app {
  display:-webkit-box;
  -webkit-box-orient: horizontal;
}

.content {
  overflow:scroll;
  line-height: 1.1em;
  font-size: 12px;
  -webkit-box-flex: 1;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;  
}

.contentfilebody {
  -webkit-box-flex: 3;
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
  -webkit-border-radius: 5px;
  
}

#fileContent {
  width:100%;
  height:50%;
}